<div class="sidebar-nav">
	<a href="home.html" class="nav-header"><i class="icon-question-sign"></i>媒体管理</a>
	<a href="users.html" class="nav-header"><i class="icon-repeat"></i>广告主管理</a>
	<a href="user.html" class="nav-header"><i class="icon-user"></i>广告形式管理</a>
	<a href="AdPos.html" class="nav-header"><i class="icon-comment"></i>广告位管理</a>
	<a href="users-table-xeditable.html" class="nav-header"><i class="icon-comment"></i>设备</a>
	<a href="faq.html" class="nav-header"><i class="icon-legal"></i>地区</a>
	<a href="help.html" class="nav-header"><i class="icon-comment"></i>运营商</a>
</div>